:root {
  --primary-color: #688900;
  --secondary-color: #cfd700;
  --branding-color: #690fad;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e7e2f8;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  padding: 15px;
  font-weight: bold;
}
h3 {
  font-weight: bold;
  margin-top: 2%;
}

h4 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 36px;
}
p {
  border-radius: 4px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
}

.btn-contact,
.btn-contact-outline {
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.5px;
  border-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  box-shadow: var(--box-shadow);
}

.btn-contact {
  background: var(--primary-color);
  color: #fff !important;
  border: none;
}

.btn-contact:hover {
  background: white !important;
  color: var(--primary-color) !important;
  border: 1px solid;
  border-color: var(--primary-color) !important;
}

.btn-contact-outline {
  background: white !important;
  color: var(--primary-color) !important;
  border: 1px solid;
  border-color: var(--primary-color) !important;
}

.btn-contact-outline:hover {
  background: var(--branding-color) !important;
  color: #fff !important;
}

.content-hero h1 {
  font-size: 54px;
}

.content-hero {
  text-align: center;
  padding: 80px 20px;
}

.content-hero a {
  color: black;
  text-decoration: none;
}
.content-hero a:hover {
  border-bottom: 2px solid var(--primary-color);
}

.logo {
  width: 145px;
}

nav {
  padding: 25px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  color: black;
}

nav a:hover,
nav a.active {
  border-bottom: 2px solid var(--branding-color);
  color: #000;
}

footer {
  margin: 50px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 40px 110px;
  margin-bottom: 30px;
}

.contact-box p {
  text-align: left;
  margin-bottom: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover,
footer .git-link:hover {
  border-bottom: 2px solid var(--branding-color);
}
footer .git-link {
  text-decoration: none;
  color: black;
}
.fa-envelope {
  margin: 0 10px;
  color: var(--primary-color);
  background: white;
  padding: 17px 17px;
  font-size: 25px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: white;
  padding: 10px 17px;
  font-size: 25px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}
@media (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 18px;
  }

  .img-home {
    display: none;
  }

  nav img {
    display: none;
  }
  nav .container {
    display: flex;
    justify-content: right !important;
  }

  nav a {
    font-size: 12px;
  }

  nav li {
    line-height: 25px;
  }

  footer .contact-box {
    padding: 20px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 14px;
  }

  .contact-box p {
    font-size: 12px;
    margin-bottom: 0;
  }

  .contact-box .btn-contact {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .content-hero h1 {
    margin-top: 2%;
    font-size: 48px;
  }

  .content-hero img {
    margin-top: 5%;
  }

  h2 {
    font-size: 18px;
  }
}
